.form-login{
  height: 100vh;
  padding: 1rem;
}

.form-login-2{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 5rem;
  border-radius: 2.5rem;
}

.form-group-login{
  width: 100vw;
  max-width: 500px;
}

@media screen and (max-width: 768px){
  .form-login-2{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 1rem;
    border-radius: 2.5rem 2.5rem 2.5rem .3rem;
  }

  .form-group-login{
    width: auto;
    max-width: 500px;
  }
}